.buttons {
    display: flex;

    &--modal {
        justify-content: center;        
    }
}

.buttons > li {
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1em 1.7em;   
    min-width: 170px;
    

    border: 1px solid $gray;
    border-radius: 25px;
    background: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.06rem;
    line-height: 1.1;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background-color .2s linear,
                color .2s linear,
                box-shadow .2s linear,
                border-color .2s linear;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $black;
        color: $white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
        border-color: $black;
    }  
    
    // modificators
    &--sm {
        padding: .7em 1.1em;

        font-size: .87rem;
        font-weight: 700;
        border-width: 2px;
    }
}

.btn--thin {
    min-width: 145px;

    font-size: .8rem;
}