.modal-contact {
    display: flex;

    background: url("http://dummyimage.com/477x700") right center no-repeat;
}

.modal-contact__subtitle {
    font-size: 1.06rem;
    text-transform: uppercase;
    color: $black;
}

.modal-contact__info {
    margin: 2rem 0 3rem;
}

.modal-contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: .6rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.modal-contact__left {
    width: 47%;
    padding: 2rem;
}

.modal-contact__icon {
    height: .8rem;
    margin-right: .6rem;
}

.modal-contact__link {
    text-decoration: none;
    color: $black;
    font-size: .94rem;
    font-weight: 300;
}
