.progress-bar {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

.progress-bar__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.3rem;
    
}

.progress-bar__left {
    width: 50%;
}

.progress-bar__title {
    font-size: .94rem;
    font-weight: 300;
}

.progress-bar__right {
    margin-left: 1.2rem;
    width: 50%;
    height: 6px;

    background-color: #efefef;
}

.progress-bar__progress {
    height: 100%;

    background-color: $gray;

    transition: width .3s linear;
}