.works {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
    padding: .2rem;
    overflow: hidden;
}

.works__nav-btn {
    margin-left: 1.2rem;
    margin-right: 1.2rem;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: .8rem;
    color: rgba($black, .7);
    text-decoration: none; 
    
    &:hover {
        text-decoration: underline;
    }
}